@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Alkemy Challenge</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido</h2>
        <p>
            Esto es parte de un challenge para la empresa Alkemy,usando Entity Framework Core y
            ASP.NET Core MVC web application.
        </p>
    </div>
   
</div>
