@model AlkemyChallenge.Models.Genero


@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Genero</h1>

<h3>Esta segura/o que desea eliminar?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
           Nombre Imagen
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreImagen)
        </dd>
        <dt class="col-sm-2">
           Imagen:
        </dt>
        <dd class="col-sm-10">
           <img src="@("~/Image/"+Model.NombreImagen)" asp-append-version="true"width="150px" height="150px"/>
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="GeneroID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
